header {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    background-color: white;
    margin: 92px 24px 0 24px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    text-underline-offset: 5px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: start;

}

.menu {
    display: flex;
    list-style: none;
    gap: 9px;
    padding: 0;
}

.logo-img {
    /* transform: translateX(-50%); */
    width: 148px;
    height: 106px;
    margin-right: 155px
}

.menu-link {
    color: black;
    text-decoration: underline;
    text-transform: lowercase;
    letter-spacing: 0.4px;
}

.menu li:not(:first-child)::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin-right: 13px;
    border: 1px solid black;
}


.menu-link:hover,
.menu-link:focus,
.menu-link.current {
    text-decoration: none;
}


.link-active {
    text-decoration: none;
    text-transform: lowercase;
}


.address-item {
    text-decoration: none;
}

.address-item-phone,
.address-item-email {
    text-decoration: underline;
}

address {
    font-style: normal;
    flex-direction: column;
    line-height: 24.3px;
    padding-right: 39px;
    padding-top: 5px;
}



.cover {
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 757px;
    margin-top: 96px;
    padding-top: 164px;
    padding-left: 48px;
    padding-bottom: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}


.cover-words {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    z-index: 2;
    display: flex;
    flex-direction: column;
}


.line-top> :nth-child(1) {
    letter-spacing: 6px;
}


.line-top> :nth-child(2) {
    letter-spacing: 36px;
}


.line-middle {
    padding-left: 286px;
    padding-top: 9px;
}


.line-middle> :nth-child(1) {
    letter-spacing: 6px;
}


.line-middle> :nth-child(2) {
    letter-spacing: 6px;
}

.line-middle> :nth-child(3) {
    letter-spacing: 36px;
}

.line-end {
    align-self: flex-end;
    padding-top: 3px;
}

.line-end> :nth-child(1) {
    letter-spacing: 36px;
}

.line-end> :nth-child(2) {
    letter-spacing: 6px;
}

.line-end> :nth-child(3) {
    letter-spacing: 6px;
}

.line-end> :nth-child(4) {
    letter-spacing: 2px;
}


.cover-footer {
    color: white;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.cover-footer p {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    padding-left: 26px;
    word-spacing: 18.5px;
}


.cover-footer button {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
    padding: 12px 32px;

}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


.lots {
    background-color: white;
    margin-top: 179px;
    padding: 0 24px;
}

.lots-header {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 40px;
    padding-left: 40px;
    text-transform: uppercase;
}

.lot-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    margin-top: 26px;
}

.cards {
    display: flex;
    list-style: none;
    gap: 23px;
}
.lot-card {
    position: relative;
    width: 334px;
    height: 563px ;
    color: white;
    background-position: center;
    background-size: cover;
}

.lot-card:nth-child(1) {
    background-image: url('../images/card-lot-01.jpg');
}

.lot-card:nth-child(2) {
    background-image: url('../images/card-lot-02.jpg');
}

.lot-card:nth-child(3) {
    background-image: url('../images/card-lot-03.jpg');
}


.lot-image {
    position: absolute;
    height: 100%;
    object-fit: cover;
}


.lot-content {
    z-index: 1;
    position: relative;
    padding: 51px 40px 46px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.lot-card-header {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
    text-decoration: underline;    /* не поняла почему лишнее, в макете есть underline */
    text-transform: uppercase;
    margin: 0;
    line-height: 120%;
}

.lots-paragraph {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.9);
}

.see-more {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    display: inline-block;
    margin: 31px 37px;
    color: black;
    border: none;
    background-color: transparent;
    text-transform: lowercase;
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.see-more:hover {
    background-color: black;
    color: white;
}


.about {
    margin-top: 146px;
    padding: 0 24px;
    display: flex;
    gap: 50px;
}

.about-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 97px
}

/*  */
.about-text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: left;
    width: 90%;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    padding-left: 66px;
    line-height: 24.1px;

}

/*  */


.about-header {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    padding-top: 128px;
    padding-left: 22px;
}

.about-logo-circle {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.about-logo {
    padding-top: 26px;
    padding-left: 45px;
}


.about-logo-circle img {
    width: 148px;
    height: 114px;
}


.footer {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    display: flex;
    margin-top: 156px;
    padding: 0 50px 88px;
    text-underline-offset: 5px;
    justify-content: space-between;
}

.contact-info {
    line-height: 24.3px;
}


.footer-nav {
    list-style: none;
}

.footer-nav a {
    color: black;
    text-transform: lowercase;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    padding-left: 32px;
}

.footer-nav a:hover {
    text-decoration: none;
}


.social-icons {
    display: flex;
    gap: 48px;
    list-style: none;
}

/* .social-icons li {
    display: inline-block; 
} */

.social-icons a {
    width: 48px;
    height: 48px;
    display: flex;
}


.social-icons a:hover {
    transform: scale(1.1);
    opacity: 0.8;
}